<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load rest_framework %}

{% block title %}{{ release.product.name }} {{release.release_number}}{% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:product_detail' release.product.id %}">{{ release.product.name }}</a></li>
    <li>{{release.release_number}}</li>
    <li>Summary</li>
  </ul>
{% endblock %}

{% block actions %}
  {% if perms.cube.change_release %}
    <a class="button" href="{% url "cube:release_update" release.id %}">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
      <span>Edit this release</span>
    </a>
  {% endif %}
{% endblock %}

{% block herozone %}
  <div class="hero-body">
    <p class="title">Release: {{release.release_number}}</p>
  </div>
{% endblock %}
{% block content %}
  {% include "cube/includes/release_tabs.html" with active_tab="summary" %}

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="card tile is-child">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="fas fa-info-circle"></i></span>
            Release details
          </p>
        </header>
        <div class="card-content">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Status</label>
                <div class="control is-clearfix">
                  <input type="text" readonly value="{{ release.get_ship_status_display }}" class="input is-static">
                </div>
              </div>
              <div class="field">
                <label class="label">Reference commit</label>
                <div class="control is-clearfix">
                  <input type="text" readonly value="{{ release.commit }}" class="input is-static">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">Publication date</label>
                <div class="control is-clearfix">
                  <input type="text" readonly value="{{release.pub_date}}" class="input is-static">
                </div>
              </div>
              <div class="field">
                <label class="label">Validated steps</label>
                <div class="control is-clearfix">
                  <input type="text" readonly value="{{ release.valid_step }}/5" class="input is-static">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="card tile is-child">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="fas fa-sitemap"></i></span>
            Dependencies scopes ({{exploitation_scopes|length }}) and exploitation modes
          </p>
        </header>
        <div class="card-content">
          <table>
            <thead>
              <tr>
                <th>Sub project</th>
                <th>Scope</th>
                <th>Components</th>
                <th>Exploitation</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for scope in exploitation_scopes %}
                <tr>
                  <td>{{ scope.project|default:"<em>Any</em>" }}</td>
                  <td>{{ scope.scope |default:"<em>Any</em>"}}</td>
                  <td>{{ scope.count }}</td>
                  <td>
                    {% if scope.exploitation %}
                      {{ scope.exploitation.get_exploitation_display }}
                    {% else %}
                      <span class="tag is-warning">No exploitation has been defined for this scope</span>
                    {% endif%}
                    {% if scope.exploitation %}
                      <a href="{% url 'cube:release_exploitation_update' release.id scope.exploitation.id %}" title="Edit exploitation choice">
                        <span class="icon"><i class="fas fa-edit"></i></span>
                      </a> |
                      <a href="{% url 'cube:release_delete_exploitation' release.id scope.exploitation.id %}" title="Delete exploitation choice">
                        <span class="icon"><i class="fas fa-trash"></i></span>
                      </a>
                    {% else %}
                      <a href="{% url 'cube:release_exploitation_create' release.id %}?project={{scope.project}}&scope={{scope.scope}}"><span class="icon"><i class="fas fa-plus-circle"></i></span></a>
                    {% endif%}
                  </td>
                  <td>
                    <a href="{% url 'cube:scope_usages_delete' release.id %}?project={{ scope.project|urlencode }}&scope={{ scope.scope|urlencode }}">
                      <span class="icon has-text-danger"><i class="fas fa-trash"></i></span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <p>
            <a href="{% url 'cube:release_exploitation_create' release.id %}" class="button is-primary">Create a new exploitation decision</a>
          </p>
          {% if adhoc_exploitations %}
            <h4>Component level custom exploitations</h4>
            <table>
              <thead>
                <tr>
                  <th>Sub project</th>
                  <th>Scope</th>
                  <th>Component</th>
                  <th>Exploitation</th>
                </tr>
              </thead>
              <tbody>
                {% for usage in adhoc_exploitations %}
                  <tr>
                    <td>{{ usage.project }}</td>
                    <td>{{ usage.scope }}</td>
                    <td>{{ usage.version }}</td>
                    <td>
                      {{ usage.get_exploitation_display }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

