<!--
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}

{% block title %}{{ object.product.name }} {{object.release_number}}{% endblock %}
{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:product_detail' object.product.id %}">{{ object.product.name }}</a></li>
    <li>{{object.release_number}}</li>
    <li>Validation</li>
  </ul>
{% endblock %}
{% block herozone %}
  <div class="hero-body">
    <p class="title">Release: {{object.release_number}}</p>
  </div>
{% endblock %}
{% block content %}

  {% include "cube/includes/release_tabs.html" with active_tab="validation" %}

  {% if object.valid_step < 5 %}
    <p>You have completed validation step {{ object.valid_step }} out of 5 </p>
    <progress class="progress is-large" value="{{ object.valid_step }}" max="5"></progress>
  {% else %}
    <article class="message is-success is-large">
      <div class="message-header">
        <p>Finished</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-square"></i></span>
        That's it ! All your usages are valid, qualified, and checked.
        You can now proceed to the check of your obligations.
      </div>
    </article>
    <hr />
  {% endif %}
  <h4 class="title is-4">Step 1 - Check that components have valid SPDX license expressions</h4>

  {% if invalid_expressions %}
    <article class="message is-warning">
      <div class="message-header">
        <p>Some licenses need to be normalized</p>
      </div>
      <div class="message-body">
        <strong>{{ invalid_expressions|length }}</strong> components license information are not valid SPDX expressions</div>
    </article>

    <table class="table">
      <thead>
        <tr>
          <th>Component</th>
          <th>Imported license expression</th>
          <th>Add curation</th>
          <th>Edit version</th>
        </tr>
      </thead>
      <tbody>
        {% for usage in invalid_expressions %}
          <tr>
            <td>
              <a href="{% url "cube:component_detail" usage.version.component.id %}">{{ usage.version }}</a>
              {% if usage.version.component.homepage_url and usage.version.component.homepage_url != 'NOASSERTION' %}
                (<a href="{{usage.version.component.homepage_url}}" target="_blank">website <span class="icon is-small"><i class="fas fa-link"></i></span></a>)
              {% else %}
                (No website)
              {% endif %}
            </td>
            <td>{{ usage.version.declared_license_expr }}</td>
            <td>{% if perms.cube.add_licensecuration %}
              <a href="{% url 'cube:release_licensecuration_create' usage.id %}">Add curation rule</a>
            {% endif %}</td>
            <td>{% if perms.cube.change_version %}
              <a href="{% url 'admin:cube_version_change' usage.version.id  %}" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a>
            {% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <article class="message is-success">
      <div class="message-header">
        <p>Success</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-square"></i></span> All the {{ object.usage_set.all|length }} components used have SPDX valid licensing information.
      </div>
    </article>
  {% endif %}

  {% if fixed_expressions %}
    <p>List <a href="{% url "cube:release_curated_licenses" object.id %}">{{ fixed_expressions|length }} license curations</a>
      for this release.</p>
  {% endif %}

  <h4 class="title is-4">Step 2 - Confirm ANDs</h4>
  {% if to_confirm %}
    <article class="message is-warning">
      <div class="message-header">
        <p>Some ANDs in licence expressions need to be confirmed</p>
      </div>
      <div class="message-body">
        Certain ANDs in licence expression are actually ORs, triggering unnecessary constraints.
        Please check and confirm/correct the following {{ to_confirm|length }} usages.
      </div>
    </article>

    <h5 class="title is-5">ANDs to confirm</h5>

    <table class="table">
      <thead>
        <tr>
          <th>Component</th>
          <th>Version</th>
          <th>Used in </th>
          <th>License expression</th>
          <th>Confirm or correct</th>
          <th>Edit version</th>
        </tr>
      </thead>
      <tbody>
        {% for usage in to_confirm %}
          <tr>
            <td><a href="{% url "cube:component_detail" usage.version.component.id %}" target="_blank">{{ usage.version.component.name }}</a>
              {% if usage.version.component.homepage_url and usage.version.component.homepage_url != 'NOASSERTION' %}
                (<a href="{{usage.version.component.homepage_url}}" target="_blank">website <span class="icon is-small"><i class="fas fa-link"></i></span></a>)
              {% else %}
                (No website)
              {% endif %}
            </td>
            <td><a href="{% url "admin:cube_version_change" usage.version.id %}" target="_blank">{{ usage.version.version_number }}</a></td>
            <td>{{ usage.scope }}</td>
            <td>{{ usage.version.spdx_valid_license_expr }} </td>
            <td>{% if perms.cube.add_licensecuration %}
              <a href="{% url 'cube:release_andsvalidation_create' usage.id %}">Confirm / Correct</a>
            {% endif %}</td>
            <td>{% if perms.cube.change_version %}
              <a href="{% url "admin:cube_version_change" usage.version.id %}" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a>
            {% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% elif object.valid_step >= 2 %}
    <article class="message is-success">
      <div class="message-header">
        <p>Success</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-square"></i></span> All the ANDs present in SPDX expressions have been confirmed or corrected.
      </div>
    </article>
  {% else %}
    <article class="message is-info">
      <div class="message-header">
        <p>Waiting for previous steps</p>
      </div>
      <div class="message-body">
        Validate step 1 to check ANDs which need to be confirmed or corrected.
      </div>
    </article>
  {% endif %}

  {% if corrected or confirmed %}
    <p>List <a href="{% url "cube:release_ands_validations" object.id %}">{{ corrected|length }} corrections and
      {{ confirmed|length }} confirmations</a> for this release.</p>
  {% endif %}

  <h4 class="title is-4">Step 3 - Defined exploitation mode for each scope</h4>

  {% if unset_scopes %}
    <article class="message is-warning">
      <div class="message-header">
        <p>Some scopes have no exploitation mode defined.</p>
      </div>
    </article>

    <table class="table">
      <thead>
        <tr>
          <th>Subproject</th>
          <th>Scope</th>
          <th>Components</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for project, scope, components_count in unset_scopes %}
          <tr>
            <td>{{ project }}</td>
            <td>{{ scope }}</td>
            <td>{{ components_count }}</td>
            <td><a href="{% url 'cube:release_exploitation_create' release.id %}?project={{ project }}&scope={{ scope }}&from={{ request.path|urlencode }}">
              Set exploitation mode
            </a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <article class="message is-success">
      <div class="message-header">
        <p>Success</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-square"></i></span> All scopes have an exploitation mode defined.
      </div>
    </article>
  {% endif %}

  <p>See exploitations details on <a href="{% url "cube:release_summary" object.id %}">release summary</a>.</p>

  <h4 class="title is-4">Step 4 - Resolve license choices for this release</h4>

  {% if to_resolve %}
    <article class="message is-warning">
      <div class="message-header">
        <p>Some components need an explicit license choice</p>
      </div>
      <div class="message-body">
        {{ to_resolve|length }} license Expressions contain several licenses. Choose whether you want to use one of them or every of them
      </div>
    </article>

    <table class="table">
      <thead>
        <tr>
          <th>Subproject</th>
          <th>Scope</th>
          <th>Component</th>
          <th>License expression</th>
          <th>Add choice</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for usage in to_resolve %}
          <tr>
            <td>{{ usage.project }}</td>
            <td>{{ usage.scope }}</td>
            <td><a href="{% url "cube:component_detail" usage.version.component.id %}">{{ usage.version }}</a> </td>
            <td>{{ usage.version.effective_license }}</td>
            <td>{% if perms.cube.add_licensechoice %}
              <a href="{% url 'cube:release_licensechoice_create' usage.id %}">Add choice rule</a>
            {% endif %}</td>
            <td>{% if perms.cube.change_usage %}
              <a href="{% url "cube:usage_update" usage.id %}?from={{ request.path|urlencode }}" title="Edit this usage"><span class="icon"><i class="fas fa-edit"></i></span></a>
            {% endif %}{% if perms.cube.delete_usage %}
              | <a href="{% url "cube:usage_delete" usage.id %}?from={{ request.path|urlencode }}" title="Delete this usage"><span class="icon"><i class="fas fa-trash"></i></span></a>
            {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% elif release.valid_step >= 2 %}
  {% comment %}
    It maybe stuck at 2 if some exploitation modes are not defined, even if all license choices have been made
  {% endcomment %}
    <article class="message is-success">
      <div class="message-header">
        <p>Success</p>
      </div>
      <div class="message-body">
        <span class="icon has-text-success"><i class="fas fa-check-square"></i></span> All license choices have been made for this release.
      </div>
    </article>
  {% else %}
    <article class="message is-info">
      <div class="message-header">
        <p>Waiting for previous steps</p>
      </div>
      <div class="message-body">
        Validate step 2 to check no license choice needs to be done.
      </div>
    </article>
  {% endif %}
  {% if resolved %}
    <p>List <a href="{% url "cube:release_licensechoice_list" object.id %}">{{ resolved|length }} license choices</a>
      for this release.</p>
  {% endif %}


  <h4 class="title is-4">Step 5 - Check licenses against policy</h4>

  {% if usages_lic_unknown %}
    <article class="message is-dark">
      <div class="message-header">
        <p>Some components use unreviewed licenses</p>
      </div>
      <div class="message-body">
        {{ usages_lic_unknown|length }} components use a non-reviewed license.
      </div>
    </article>

    <table class="table">
      <thead>
        <tr>
          <th>Subproject</th>
          <th>Scope</th>
          <th>Component</th>
          <th>Applicable Licenses</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for usage in usages_lic_unknown %}
          <tr>
            <td>{{ usage.project }}</td>
            <td>{{ usage.scope }}</td>
            <td><a href="{% url "cube:component_detail" usage.version.component.id %}">{{ usage.version }}</a></td>
            <td>
              {% for license_chosen in usage.licenses_chosen.all %}
                {% if perms.cube.view_license %}
                  <a href="{% url "cube:license_detail" license_chosen.id %}">
                    <span class="tag {{ license_chosen|licenseAllowedCSS }}">
                      {{ license_chosen.spdx_id }}
                    </span>
                  </a>
                {% else %}
                  <span class="tag {{ license_chosen|licenseAllowedCSS }}">
                    {{ license_chosen.spdx_id }}
                  </span>
                {% endif %}
              {% endfor %}
            </td>
            <td>{% if perms.cube.change_usage %}
              <a href="{% url "cube:usage_update" usage.id %}?from={{ request.path|urlencode }}" title="Edit this usage"><span class="icon"><i class="fas fa-edit"></i></span></a>
            {% endif %}{% if perms.cube.delete_usage %}
              | <a href="{% url "cube:usage_delete" usage.id %}?from={{ request.path|urlencode }}" title="Delete this usage"><span class="icon"><i class="fas fa-trash"></i></span></a>
            {% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if usages_lic_never_allowed or usages_lic_context_allowed %}
    <article class="message is-danger">
      <div class="message-header">
        <p>Some components use unauthorized licenses</p>
      </div>
      <div class="message-body">
        {% if usages_lic_never_allowed %}
          <p>{{ usages_lic_never_allowed|length }} components use licenses that are forbidden by your policy.</p>
        {% endif %}
        {% if usages_lic_context_allowed %}
          <p>{{ usages_lic_context_allowed|length }} components use licenses that are allowed depending on context,
            but this context does not apply to this release.</p>
        {% endif %}
      </div>
    </article>

    <table class="table">
      <thead>
        <tr>
          <th>Subproject</th>
          <th>Scope</th>
          <th>Component</th>
          <th>Linking type</th>
          <th>Modified</th>
          <th>Applicable Licenses</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for usage in usages_lic_never_allowed %}
          <tr>
            <td>{{ usage.project }}</td>
            <td>{{ usage.scope }}</td>
            <td><a href="{% url "cube:component_detail" usage.version.component.id %}">{{ usage.version }}</a></td>
            <td></td><td></td>
            <td>
              {% for license_chosen in usage.licenses_chosen.all %}
                {% if perms.cube.view_license %}
                  <a href="{% url "cube:license_detail" license_chosen.id %}">
                    <span class="tag {{ license_chosen|licenseAllowedCSS }}">
                      {{ license_chosen.spdx_id }}
                    </span>
                  </a>
                {% else %}
                  <span class="tag {{ license_chosen|licenseAllowedCSS }}">
                    {{ license_chosen.spdx_id }}
                  </span>
                {% endif %}
                {% if perms.cube.add_derogation and not license_chosen.allowed == "always" %}
                  <a href="{% url 'cube:release_derogation_create' usage.id license_chosen.id %}"> Add Derogation </a>
                {% endif %}
              {% endfor %}
            </td>
            <td>{% if perms.cube.change_usage %}
              <a href="{% url "cube:usage_update" usage.id %}?from={{ request.path|urlencode }}" title="Edit this usage"><span class="icon"><i class="fas fa-edit"></i></span></a>
            {% endif %}{% if perms.cube.delete_usage %}
              | <a href="{% url "cube:usage_delete" usage.id %}?from={{ request.path|urlencode }}" title="Delete this usage"><span class="icon"><i class="fas fa-trash"></i></span></a>
            {% endif %}</td>
          </tr>
        {% endfor %}
        {% for usage in usages_lic_context_allowed %}
          <tr>
            <td>{{ usage.project }}</td>
            <td>{{ usage.scope }}</td>
            <td><a href="{% url "cube:component_detail" usage.version.component.id %}">{{ usage.version }}</a></td>
            <td>{{ usage.linking }}</td>
            <td>{{ usage.component_modified }}</td>
            <td>
              {% for license_chosen in usage.licenses_chosen.all %}
                {% if perms.cube.view_license %}
                  <a href="{% url "cube:license_detail" license_chosen.id %}">
                    <span class="tag {{ license_chosen|licenseAllowedCSS }}">
                      {{ license_chosen.spdx_id }}
                    </span>
                  </a>
                {% else %}
                  <span class="tag {{ license_chosen|licenseAllowedCSS }}">
                    {{ license_chosen.spdx_id }}
                  </span>
                {% endif %}
                {% if perms.cube.change_license and not license_chosen.allowed == "always" %}
                  <a href="{% url 'cube:license_detail' license_chosen.id %}">Update authorized contexts</a> |
                {% endif %}
                {% if perms.cube.add_derogation and not license_chosen.allowed == "always" %}
                  <a href="{% url 'cube:release_derogation_create' usage.id license_chosen.id %}"> Add Derogation </a>
                {% endif %}
              {% endfor %}
            </td>
            <td>{% if perms.cube.change_usage %}
              <a href="{% url "cube:usage_update" usage.id %}?from={{ request.path|urlencode }}" title="Edit this usage"><span class="icon"><i class="fas fa-edit"></i></span></a>
            {% endif %}{% if perms.cube.delete_usage %}
              | <a href="{% url "cube:usage_delete" usage.id %}?from={{ request.path|urlencode }}" title="Delete this usage"><span class="icon"><i class="fas fa-trash"></i></span></a>
            {% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}

  {% if not usages_lic_context_allowed and not usages_lic_never_allowed and not usages_lic_unknown %}
    {% if release.valid_step > 4 %}
      <article class="message is-success">
        <div class="message-header">
          <p>Success</p>
        </div>
        <div class="message-body">
          <span class="icon has-text-success"><i class="fas fa-check-square"></i></span> All the components use policy compliant licenses.
        </div>
      </article>
    {% else %}
      <article class="message is-info">
        <div class="message-header">
          <p>Waiting for previous steps</p>
        </div>
        <div class="message-body">
          Validate previous steps to check all licenses against policy.
        </div>
      </article>
    {% endif %}
  {% endif %}


  {% if derogations %}
    <p>
      The following licenses have derogations which apply to this release:
    </p>

    <table class="table is-bordered is-striped">
      <thead>
        <tr>
          <th>License</th>
          <th>Condition</th>
          <th>Justification</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for derogation in derogations %}
          <tr>
            <td>
              {% if perms.cube.view_license %}
                <a href="{% url "cube:license_detail" derogation.license.id %}">
                  <span class="tag {{ derogation.license|licenseAllowedCSS }}">
                    {{ derogation.license.spdx_id }}
                  </span>
                </a>
              {% else %}
                <span class="tag {{ derogation.license|licenseAllowedCSS }}">
                  {{ derogation.license.spdx_id }}
                </span>
              {% endif %}
            </td>
            <td>
              {{ derogation.condition_display }}
            </td>
            <td>
              {{ derogation.justification|default:"No justification given"|truncatewords:13 }}...
            </td>
            <td>
              {% if perms.cube.change_derogation %}<a href="{% url "admin:cube_derogation_change" derogation.id %}" title="Edit this derogation"><span class="icon"><i class="fas fa-edit"></i></span></a>{% endif %}
              {% if perms.cube.delete_derogation %} | <a href="{% url "admin:cube_derogation_delete" derogation.id %}" title="Delete this derogation"><span class="icon"><i class="fas fa-trash"></i></span></a>{% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}





